In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (
    SparkSession.builder.appName('Aula 2 - SELECT: Selecionando dados de uma tabela')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate())

In [3]:
spark

In [4]:
local_file = r'C:\Users\mluiz\Documents\05_Python\PySpark\datasets\LOGINS.parquet'

In [5]:
df = spark.read.parquet(local_file)

In [7]:
df.show(3)

+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|          ipv4|cor_favorita|           profissao|       telefone|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|981.507.362-12|pedro-lucas53@gma...|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26|99.107.250.210|        Roxo|    Jogador De Golfe|   31 7785-4046|
|493.705.168-75|rezendeisaac@hotm...|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16| 197.11.26.213|       Ciano|Atleta De Arremes...|(031) 0803-6753|
|398.471.625-73|felipepires@uol.c...|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|  181.90.63.58|        Azul|      Papiloscopista|   11 9674-0553|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
only showing top 3 rows

In [17]:
df.columns

['cpf',
 'email',
 'senha',
 'data_de_nascimento',
 'estado',
 'data_cadastro',
 'ipv4',
 'cor_favorita',
 'profissao',
 'telefone']

In [19]:
df.cpf

Column<'cpf'>

In [20]:
df.select(df.cpf).show(3)

+--------------+
|           cpf|
+--------------+
|981.507.362-12|
|493.705.168-75|
|398.471.625-73|
+--------------+
only showing top 3 rows

In [23]:
df.select('cpf').show(3) # Não consegue usar esse método de selecionar coluna com o comando filter

+--------------+
|           cpf|
+--------------+
|981.507.362-12|
|493.705.168-75|
|398.471.625-73|
+--------------+
only showing top 3 rows

In [24]:
df.select(df.cpf,'cpf').show(3)

+--------------+--------------+
|           cpf|           cpf|
+--------------+--------------+
|981.507.362-12|981.507.362-12|
|493.705.168-75|493.705.168-75|
|398.471.625-73|398.471.625-73|
+--------------+--------------+
only showing top 3 rows

In [21]:
df.select(df.email, df.senha).show(3)

+--------------------+----------+
|               email|     senha|
+--------------------+----------+
|pedro-lucas53@gma...|+7^7E%xFBc|
|rezendeisaac@hotm...|_O_2GRnGOe|
|felipepires@uol.c...|*Aw5EOAvy9|
+--------------------+----------+
only showing top 3 rows

In [22]:
df.select(df.senha, df.email).show(3)

+----------+--------------------+
|     senha|               email|
+----------+--------------------+
|+7^7E%xFBc|pedro-lucas53@gma...|
|_O_2GRnGOe|rezendeisaac@hotm...|
|*Aw5EOAvy9|felipepires@uol.c...|
+----------+--------------------+
only showing top 3 rows

In [14]:
df.select('email','senha').show(3)

+--------------------+----------+
|               email|     senha|
+--------------------+----------+
|pedro-lucas53@gma...|+7^7E%xFBc|
|rezendeisaac@hotm...|_O_2GRnGOe|
|felipepires@uol.c...|*Aw5EOAvy9|
+--------------------+----------+
only showing top 3 rows

In [15]:
df.select('senha','email').show(3)

+----------+--------------------+
|     senha|               email|
+----------+--------------------+
|+7^7E%xFBc|pedro-lucas53@gma...|
|_O_2GRnGOe|rezendeisaac@hotm...|
|*Aw5EOAvy9|felipepires@uol.c...|
+----------+--------------------+
only showing top 3 rows

In [25]:
df.select(df['estado'], df['ipv4']).show(3)

+------+--------------+
|estado|          ipv4|
+------+--------------+
|    RR|99.107.250.210|
|    GO| 197.11.26.213|
|    MG|  181.90.63.58|
+------+--------------+
only showing top 3 rows

In [31]:
from pyspark.sql.functions import col
import pyspark.sql.functions as F

In [32]:
df.select(col('data_cadastro'), F.col('data_cadastro')).show(3)

+-------------+-------------+
|data_cadastro|data_cadastro|
+-------------+-------------+
|   2023-02-26|   2023-02-26|
|   2023-02-16|   2023-02-16|
|   2023-01-02|   2023-01-02|
+-------------+-------------+
only showing top 3 rows

In [36]:
df.select('*').show(3) #Todas as colunas

+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|           cpf|               email|     senha|data_de_nascimento|estado|data_cadastro|          ipv4|cor_favorita|           profissao|       telefone|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|981.507.362-12|pedro-lucas53@gma...|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26|99.107.250.210|        Roxo|    Jogador De Golfe|   31 7785-4046|
|493.705.168-75|rezendeisaac@hotm...|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16| 197.11.26.213|       Ciano|Atleta De Arremes...|(031) 0803-6753|
|398.471.625-73|felipepires@uol.c...|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|  181.90.63.58|        Azul|      Papiloscopista|   11 9674-0553|
+--------------+--------------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
only showing top 3 rows

In [37]:
df.drop('email').show(3) # Seleciona todas, menos a listada, no caso e-mail

+--------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|           cpf|     senha|data_de_nascimento|estado|data_cadastro|          ipv4|cor_favorita|           profissao|       telefone|
+--------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
|981.507.362-12|+7^7E%xFBc|        2006-12-18|    RR|   2023-02-26|99.107.250.210|        Roxo|    Jogador De Golfe|   31 7785-4046|
|493.705.168-75|_O_2GRnGOe|        1992-06-17|    GO|   2023-02-16| 197.11.26.213|       Ciano|Atleta De Arremes...|(031) 0803-6753|
|398.471.625-73|*Aw5EOAvy9|        1921-11-11|    MG|   2023-01-02|  181.90.63.58|        Azul|      Papiloscopista|   11 9674-0553|
+--------------+----------+------------------+------+-------------+--------------+------------+--------------------+---------------+
only showing top 3 rows