In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = (
    SparkSession.builder.appName('Aula 9 - GROUP BY: Agrupando os dados de uma tabela')
    .config('spark.sql.repl.eagerEval.enabled', True)
    .getOrCreate())

In [3]:
spark

In [4]:
local_file = r'C:\Users\mluiz\Documents\05_Estudos_Programacao\PySpark\datasets\LOGINS.parquet'

In [10]:
df = spark.read.parquet(local_file)

In [12]:
df.show(5, False)

+--------------+------------------------+----------+------------------+------+-------------+--------------+------------+---------------------------+-------------------+
|cpf           |email                   |senha     |data_de_nascimento|estado|data_cadastro|ipv4          |cor_favorita|profissao                  |telefone           |
+--------------+------------------------+----------+------------------+------+-------------+--------------+------------+---------------------------+-------------------+
|981.507.362-12|pedro-lucas53@gmail.com |+7^7E%xFBc|2006-12-18        |RR    |2023-02-26   |99.107.250.210|Roxo        |Jogador De Golfe           |31 7785-4046       |
|493.705.168-75|rezendeisaac@hotmail.com|_O_2GRnGOe|1992-06-17        |GO    |2023-02-16   |197.11.26.213 |Ciano       |Atleta De Arremesso De Peso|(031) 0803-6753    |
|398.471.625-73|felipepires@uol.com.br  |*Aw5EOAvy9|1921-11-11        |MG    |2023-01-02   |181.90.63.58  |Azul        |Papiloscopista             |11 9674-0553       |
|092.618.354-06|stellamoraes@bol.com.br |mw0AWYAs#s|2021-06-01        |AC    |2023-01-08   |26.121.127.94 |Marrom      |Aeromoça                   |+55 (071) 3033 9177|
|509.427.136-99|wcarvalho@ig.com.br     |pGD%!2Pq5X|1969-10-28        |AP    |2023-02-14   |76.184.52.163 |Laranja     |Fonoaudiólogo              |+55 (071) 6272 2468|
+--------------+------------------------+----------+------------------+------+-------------+--------------+------------+---------------------------+-------------------+
only showing top 5 rows

In [13]:
df.groupBy('cor_favorita').count()

+------------+-----+
|cor_favorita|count|
+------------+-----+
|       Preto|   57|
|     Violeta|   47|
|        Rosa|   81|
|      Marrom|   62|
|       Ciano|   59|
|     Laranja|   53|
|        Azul|   76|
| Verde Claro|   66|
|        Roxo|   64|
|      Branco|   66|
|Verde Escuro|   65|
| Azul Escuro|   62|
|       Verde|   53|
|     Magenta|   54|
|       Cinza|   75|
|     Amarelo|   60|
+------------+-----+

In [24]:
df.groupBy('cor_favorita').count().orderBy('count')

+------------+-----+
|cor_favorita|count|
+------------+-----+
|     Violeta|   47|
|     Laranja|   53|
|       Verde|   53|
|     Magenta|   54|
|       Preto|   57|
|       Ciano|   59|
|     Amarelo|   60|
|      Marrom|   62|
| Azul Escuro|   62|
|        Roxo|   64|
|Verde Escuro|   65|
| Verde Claro|   66|
|      Branco|   66|
|       Cinza|   75|
|        Azul|   76|
|        Rosa|   81|
+------------+-----+

In [25]:
df.groupBy('cor_favorita').count().orderBy(F.desc('count'))

+------------+-----+
|cor_favorita|count|
+------------+-----+
|        Rosa|   81|
|        Azul|   76|
|       Cinza|   75|
|      Branco|   66|
| Verde Claro|   66|
|Verde Escuro|   65|
|        Roxo|   64|
|      Marrom|   62|
| Azul Escuro|   62|
|     Amarelo|   60|
|       Ciano|   59|
|       Preto|   57|
|     Magenta|   54|
|     Laranja|   53|
|       Verde|   53|
|     Violeta|   47|
+------------+-----+

In [14]:
df.groupBy('estado','cor_favorita').count()

+------+------------+-----+
|estado|cor_favorita|count|
+------+------------+-----+
|    AM|       Cinza|    2|
|    MA|       Ciano|    1|
|    AC|       Ciano|    1|
|    RS|        Roxo|    1|
|    RJ|        Azul|    4|
|    ES| Verde Claro|    2|
|    CE|        Azul|    5|
|    AM|      Marrom|    6|
|    AP|       Preto|    2|
|    MA|Verde Escuro|    2|
|    SP| Verde Claro|    7|
|    GO|      Branco|    2|
|    RN|     Amarelo|    1|
|    PR|       Verde|    1|
|    DF|       Ciano|    1|
|    PA|     Laranja|    3|
|    TO|        Rosa|    3|
|    TO|      Branco|    1|
|    RJ|       Preto|    2|
|    RO|     Amarelo|    1|
+------+------------+-----+
only showing top 20 rows

In [26]:
df.groupBy('estado','cor_favorita').count().orderBy('estado')

+------+------------+-----+
|estado|cor_favorita|count|
+------+------------+-----+
|    AC|       Preto|    4|
|    AC|       Verde|    2|
|    AC|     Magenta|    1|
|    AC|       Ciano|    1|
|    AC|      Marrom|    5|
|    AC|     Laranja|    1|
|    AC|      Branco|    4|
|    AC|     Violeta|    1|
|    AC|        Rosa|    4|
|    AC|        Roxo|    3|
|    AC|     Amarelo|    1|
|    AC|        Azul|    4|
|    AC|       Cinza|    1|
|    AC| Azul Escuro|    5|
|    AL|       Preto|    1|
|    AL|       Cinza|    3|
|    AL|Verde Escuro|    5|
|    AL|        Roxo|    2|
|    AL|     Amarelo|    2|
|    AL| Azul Escuro|    3|
+------+------------+-----+
only showing top 20 rows

In [27]:
df.groupBy('estado','cor_favorita').count().orderBy('cor_favorita')

+------+------------+-----+
|estado|cor_favorita|count|
+------+------------+-----+
|    SP|     Amarelo|    5|
|    RN|     Amarelo|    1|
|    RO|     Amarelo|    1|
|    MG|     Amarelo|    2|
|    DF|     Amarelo|    4|
|    PE|     Amarelo|    2|
|    AC|     Amarelo|    1|
|    RS|     Amarelo|    3|
|    SE|     Amarelo|    1|
|    RJ|     Amarelo|    2|
|    TO|     Amarelo|    5|
|    ES|     Amarelo|    1|
|    AL|     Amarelo|    2|
|    PB|     Amarelo|    4|
|    CE|     Amarelo|    1|
|    BA|     Amarelo|    2|
|    GO|     Amarelo|    5|
|    AM|     Amarelo|    1|
|    RR|     Amarelo|    2|
|    MA|     Amarelo|    3|
+------+------------+-----+
only showing top 20 rows

In [28]:
df.groupBy('estado','cor_favorita').count().orderBy('estado','cor_favorita')

+------+------------+-----+
|estado|cor_favorita|count|
+------+------------+-----+
|    AC|     Amarelo|    1|
|    AC|        Azul|    4|
|    AC| Azul Escuro|    5|
|    AC|      Branco|    4|
|    AC|       Ciano|    1|
|    AC|       Cinza|    1|
|    AC|     Laranja|    1|
|    AC|     Magenta|    1|
|    AC|      Marrom|    5|
|    AC|       Preto|    4|
|    AC|        Rosa|    4|
|    AC|        Roxo|    3|
|    AC|       Verde|    2|
|    AC|     Violeta|    1|
|    AL|     Amarelo|    2|
|    AL|        Azul|    3|
|    AL| Azul Escuro|    3|
|    AL|       Ciano|    1|
|    AL|       Cinza|    3|
|    AL|     Laranja|    3|
+------+------------+-----+
only showing top 20 rows

In [21]:
df.groupBy('estado','cor_favorita').count().groupBy('estado').avg('count')

+------+------------------+
|estado|        avg(count)|
+------+------------------+
|    SC| 3.142857142857143|
|    RO|            2.4375|
|    PI|               2.5|
|    AM|2.4285714285714284|
|    RR|2.5384615384615383|
|    GO|            2.8125|
|    TO|2.4285714285714284|
|    MT|2.0714285714285716|
|    SP|3.2666666666666666|
|    ES| 2.533333333333333|
|    PB|2.2666666666666666|
|    RS|               2.6|
|    MS|               3.0|
|    AL|               2.4|
|    MG|             2.875|
|    PA|               2.0|
|    BA|               3.0|
|    SE| 2.933333333333333|
|    PE|2.4285714285714284|
|    CE|            2.8125|
+------+------------------+
only showing top 20 rows

In [22]:
df.groupBy('estado','cor_favorita').count().groupBy('estado').min('count')

+------+----------+
|estado|min(count)|
+------+----------+
|    SC|         1|
|    RO|         1|
|    PI|         1|
|    AM|         1|
|    RR|         1|
|    GO|         1|
|    TO|         1|
|    MT|         1|
|    SP|         1|
|    ES|         1|
|    PB|         1|
|    RS|         1|
|    MS|         1|
|    AL|         1|
|    MG|         1|
|    PA|         1|
|    BA|         1|
|    SE|         1|
|    PE|         1|
|    CE|         1|
+------+----------+
only showing top 20 rows

In [23]:
df.groupBy('estado','cor_favorita').count().groupBy('estado').max('count')

+------+----------+
|estado|max(count)|
+------+----------+
|    SC|         6|
|    RO|         5|
|    PI|         6|
|    AM|         6|
|    RR|         5|
|    GO|         6|
|    TO|         5|
|    MT|         4|
|    SP|         7|
|    ES|         5|
|    PB|         4|
|    RS|         5|
|    MS|         6|
|    AL|         5|
|    MG|         7|
|    PA|         4|
|    BA|         6|
|    SE|         6|
|    PE|         6|
|    CE|         7|
+------+----------+
only showing top 20 rows

In [31]:
df.groupBy(F.year(df.data_de_nascimento)).count()

+------------------------+-----+
|year(data_de_nascimento)|count|
+------------------------+-----+
|                    1959|    8|
|                    1990|    7|
|                    1975|    7|
|                    1977|    5|
|                    1924|    9|
|                    2003|    7|
|                    2007|   12|
|                    2018|   13|
|                    1974|    7|
|                    2015|    9|
|                    2023|    2|
|                    1927|    6|
|                    1955|   13|
|                    2006|   14|
|                    2022|    9|
|                    1978|    6|
|                    1908|    8|
|                    1925|    7|
|                    1961|    7|
|                    2013|    9|
+------------------------+-----+
only showing top 20 rows

In [32]:
df.groupBy(F.year(df.data_de_nascimento)).count().orderBy(F.year(df.data_de_nascimento))

+------------------------+-----+
|year(data_de_nascimento)|count|
+------------------------+-----+
|                    1907|    6|
|                    1908|    8|
|                    1909|    3|
|                    1910|   13|
|                    1911|    6|
|                    1912|    9|
|                    1913|    8|
|                    1914|    8|
|                    1915|    7|
|                    1916|    8|
|                    1917|   10|
|                    1918|    7|
|                    1919|   10|
|                    1920|    8|
|                    1921|    8|
|                    1922|    9|
|                    1923|    9|
|                    1924|    9|
|                    1925|    7|
|                    1926|    9|
+------------------------+-----+
only showing top 20 rows